<ion-header color="dark">
  <ion-toolbar class="wrapper">
    <ion-buttons slot="start">
      <ion-back-button
      name="chevron-back-outline"
        defaultHref="/annonces"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter Annonce</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true" slot="fixed" >
  <div class="wave-container">
    <div class="ion-padding">
      <h1></h1>
      <h4><i>Déposer une petite annonce</i></h4>
    </div>


    </div>



  <ion-card >
    <ion-card-content>
      <ion-row justify-content-center>
        <ion-col size="10" offset="1" class="container">
          <div text-center class="ion-margin-bottom" style="margin-top: 15%">
            <form #f="ngForm"
              (ngSubmit)="addAnnonce(f.value)"
              class="form-group">
              <ion-item class="ion-margin-bottom">
                <ion-input
                  placeholder="Titre de votre annonce "

                  type="text"
                  name="title"
                  id="title"
                  ngModel
                  required></ion-input
              ></ion-item>
              <ion-item class="ion-margin-bottom">
                <ion-input
                  placeholder="Image URL"
                  class="ion-margin-bottom"

                  type="text"
                  name="imageUrl"
                  id="imageUrl"
                  ngModel
                  required

                ></ion-input
              ></ion-item>
              <ion-item class="ion-margin-bottom">
                <ion-select placeholder="Catégorie" ngModel name="Catégorie">
                  <ion-select-option value="Maison">Maison</ion-select-option>
                  <ion-select-option value="Appartement">Appartement</ion-select-option>
                  <ion-select-option value="Local Commercial">Local Commercial</ion-select-option>
                </ion-select>

              </ion-item>
              <ion-item class="ion-margin-bottom">
                <ion-input
                  placeholder="Description"

                  type="text"
                  name="description"
                  id="description"
                  ngModel
                  required

                ></ion-input
              ></ion-item>
              <ion-item class="ion-margin-bottom">
                <ion-input
                  placeholder="Prix "

                  type="String"
                  name="Prix"
                  id="prix"
                  ngModel
                  required

                ></ion-input
                ></ion-item>
              <ion-item class="ion-margin-bottom">
                <ion-select placeholder="Choisissez la région" ngModel name="Région/Ville">
                  <ion-select-option value="Tunis">Tunis</ion-select-option>
                  <ion-select-option value="Ariana">Ariana</ion-select-option>
                  <ion-select-option value="Ben Arous"> Ben Arous</ion-select-option>
                </ion-select>

              </ion-item>
              <ion-item class="ion-margin-bottom">
                <ion-input
                  placeholder="Adresse de votre annonce "

                  type="Text"
                  name="Adresse"
                  id="adresse"
                  ngModel
                  required></ion-input>

                </ion-item>
              <ion-button
                type="submit"
                expand="full"
                color="success"

              >
                Déposer votre annonce</ion-button
              >
            </form>
          </div>
        </ion-col></ion-row
      >
    </ion-card-content></ion-card
  >

</ion-content>




