

<ion-content fullscreen="true" slot="fixed" >
  <div class="wave-container">
    <div class="ion-padding">
      <h1>Bienvenue</h1>
      <h4><i>Trouvez un bien immobilier près de chez vous!</i></h4>
    </div>



    </div>


  <ion-card>

    <ion-card-content>
      <div class="signin-btns">
        <ion-button color="danger"fill="solid" shape="round" ion-no-padding [routerLink]="['/login']">Connexion</ion-button>
        <ion-button color="success" fill="solid" shape="round" ion-no-padding [routerLink]="['/signup']">Inscription</ion-button>

      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
